<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Model>
    <ModelInformation>
        <Name>MU-Lux segmentation - CTC submission for PhC-C2DL-PSC</Name>
        <Author> Filip Lux and Petr Matula</Author>
        <URL>http://celltrackingchallenge.net/participants/MU-Lux-CZ/</URL>
        <Credit>MU-Lux-CZ submission</Credit>
        <Version>n/a</Version>
        <Date>Tue Jul 21 12:30:33 CEST 2020</Date>
        <Reference>Ulman, Vladimír, et al. Nature methods 2017</Reference>
    </ModelInformation>
    <ModelTest>
        <InputSize>720x576</InputSize>
        <OutputSize>720x576</OutputSize>
        <MemoryPeak>306.7 Mb</MemoryPeak>
        <Runtime>  4.3 s</Runtime>
        <PixelSize>1.60E-04cmx1.60E-04cm</PixelSize>
    </ModelTest>
    <ModelCharacteristics>
        <ModelTag>tf.saved_model.tag_constants.SERVING</ModelTag>
        <SignatureDefinition>tf.saved_model.signature_constants.DEFAULT_SERVING_SIGNATURE_DEF_KEY</SignatureDefinition>
        <InputTensorDimensions>,-1,-1,-1,1,</InputTensorDimensions>
        <NumberOfInputs>1</NumberOfInputs>
        <InputNames0>input</InputNames0>
        <InputOrganization0>NHWC</InputOrganization0>
        <NumberOfOutputs>1</NumberOfOutputs>
        <OutputNames0>output</OutputNames0>
        <OutputOrganization0>NHWC</OutputOrganization0>
        <Channels>1</Channels>
        <FixedPatch>false</FixedPatch>
        <MinimumSize>32</MinimumSize>
        <PatchSize>928</PatchSize>
        <FixedPadding>true</FixedPadding>
        <Padding>97</Padding>
        <PreprocessingFile>preprocessing.txt</PreprocessingFile>
        <PostprocessingFile>postprocessing.txt</PostprocessingFile>
        <slices>1</slices>
    </ModelCharacteristics>
</Model>
