<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Model>
    <ModelInformation>
        <Name>Masson’s trichrome (MT3) virtual staining</Name>
        <Author>Yair Rivenson</Author>
        <URL>https://github.com/whd0121/ImageJ-VirtualStain/</URL>
        <Credit>The Ozcan Research Group at UCLA</Credit>
        <Version>1.0.0</Version>
        <Date>2019</Date>
        <Reference>Yair Rivenson, Hongda Wang, Zhensong Wei, Kevin de Haan, Yibo Zhang, Yichen Wu, Harun Günaydın, Jonathan E. Zuckerman, Thomas Chong, Anthony E. Sisk, Lindsey M. Westbrook, W. Dean Wallace and Aydogan Ozcan, Virtual histological staining of unlabelled tissue-autofluorescence images via deep learning, Nature biomedical engineering, volume 3, 2019</Reference>
    </ModelInformation>
    <ModelTest>
        <InputSize>1224x1224</InputSize>
        <OutputSize>1224x1224</OutputSize>
        <MemoryPeak>835.8 Mb</MemoryPeak>
        <Runtime>135.1 s</Runtime>
		<PixelSize>1.00pixel x 1.00pixel</PixelSize>
    </ModelTest>
    <ModelCharacteristics>
        <ModelTag>tf.saved_model.tag_constants.SERVING</ModelTag>
        <SignatureDefinition>tf.saved_model.signature_constants.DEFAULT_SERVING_SIGNATURE_DEF_KEY</SignatureDefinition>
        <InputTensorDimensions>,-1,-1,1,</InputTensorDimensions>
        <NumberOfInputs>1</NumberOfInputs>
        <InputNames0>input_images</InputNames0>
        <InputOrganization0>HWC</InputOrganization0>
        <NumberOfOutputs>1</NumberOfOutputs>
        <OutputNames0>output_images</OutputNames0>
        <OutputOrganization0>HWC</OutputOrganization0>
        <Channels>1</Channels>
        <FixedPatch>true</FixedPatch>
        <MinimumSize>1</MinimumSize>
        <PatchSize>1224</PatchSize>
        <FixedPadding>true</FixedPadding>
        <Padding>150</Padding>
        <PreprocessingFile>preprocessing.txt</PreprocessingFile>
        <PostprocessingFile>postprocessing.txt</PostprocessingFile>
        <slices>1</slices>
    </ModelCharacteristics>
</Model>
